#myList {
    border-radius: 10px;
    background-color: deepskyblue;
    color: red;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

#cardContainer {
    margin: auto;
}

#mainHeader {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    color: deeppink;
}

#myFooter {
    padding-top: 20px;
    font-size: 20px;
}